---
layout: default
title: Home
---

The Chun Lab is a computational genetics laboratory in the <a href="https://www.childrenshospital.org/departments/pulmonary-medicine">Division of Pulmonary Medicine</a> at <a href="https://www.childrenshospital.org/">Boston Children's Hospital</a> and Department of Pediatrics at <a href="https://hms.harvard.edu/">Harvard Medical School</a>. We are interested in the genetics of both common and rare lung diseases and development of new computational genetic methods for integrative multi-omics analysis and polygenic risk prediction. 

<p>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h3 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<img src="https://sgchun.github.io/sungchunlab/logo.png">
